{% extends 'shop/basic.html' %}

{% block title %}Make Payment{% endblock %}

{% block body %}
<center class="my-4">
<div class="w-25 p-3 mt-3" style="background-color: #343a40;">
    <div  class="bg-primary text-white" style="background-color: #28a745">
          <h2> My Website Payment Page </h2><br>
    </div>
<div class="p-3mb-2 bg-white text-dark">
<br>
        <h4> Pay with PayPal</h4>
    <p>Click On Buy Now To Make Payment</p><br>
        <br>
    <button onclick="clearCart()">
                {{ form.render }}
</button>
    </div>
    </div>
    </center>

{% endblock %}


{% block js %}

<script>

    if(localStorage.getItem('cart') == null){
    var cart = {};
    }
    else{
    cart = JSON.parse(localStorage.getItem('cart'));
    document.getElementById('cart').innerHTML = Object.keys(cart).length;
    }
    $('.cart').click(function(){

    var idstr = this.id.toString();
    console.log(idstr);
    if (cart[idstr] != undefined){
    cart[idstr] = cart[idstr] + 1;
    }
    else{
    cart[idstr] =  1;
    }
    console.log(cart);
    localStorage.setItem('cart', JSON.stringify(cart));

    });
$('#popcart').popover()
document.getElementById("popcart").setAttribute('data-content', '<h5> Cart </h5>');


function clearCart(){
localStorage.clear();
}

</script>

{% endblock %}

