{%  extends 'shop/basic.html' %}

{% block title %}Tracker {% endblock %}

{% block body %}

<div class="container">
    <div class="col my-2">
        <h4> My Website Tracker: Enter your order Id and Email to track your orders </h4>
        <form action="#" method="post" id="trackerForm">{% csrf_token %}

  <div class="form-row">
      <div class="form-group col-md-6">
      <label for="orderId">Order ID</label>
      <input type="text" class="form-control" id="orderId" name="orderId" placeholder="order ID">
    </div>

    <div class="form-group col-md-6">
      <label for="email">Email</label>
      <input type="email" class="form-control" id="email" name="email" placeholder="Email">
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Track Order</button>
</form>

    </div>
    <div class="col my-2">
         <h4>Your Order Status </h4>
       
         <div class="my-4">
            <ul class="list-group" id="items">
        </ul>
        </div>
         <h4>Your Order Details </h4>

         <div class="my-4">
            <ul class="list-group" id="citems">
        </ul>
        </div>
    </div>
</div>


{% endblock %}

{% block js %}

<script>
   $('#trackerForm').submit(function(event){
    $('#items').empty();
    var formData = {
        'orderId': $('input[name=orderId]').val(),
        'email': $('input[name=email]').val(),
        'csrfmiddlewaretoken':$('input[name=csrfmiddlewaretoken]').val()
     };

     $.ajax({
     type: 'POST',
     url: '/shop/tracker/',
     data: formData,
     encode: true

     })

     .done(function(data){
     console.log(data)

     data = JSON.parse(data);

    updates = data[0];
    if (updates.length>0 & updates != {}){
        for(i=0; i<updates.length; i++){
            let text = updates[i]['text'];
            let time = updates[i]['time'];
            mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
            ${text}
            <span class="badge badge-primary badge-pill">${time}</span>
            </li>`
            $('#items').append(mystr);
        }
    }
    else
    {
        mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
            Sorry we are not able to fetch this order ID and mail. Make sure to type correct order ID and email.
            </li>`
            $('#items').append(mystr);
    }
// fill in the orders details
cart = JSON.parse(data[1]);
console.log(cart);
 for(item in cart){
        let name = cart[item][1];
        let qty = cart[item][0];
        mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
            ${name}
            <span class="badge badge-primary badge-pill">${qty}</span>
          </li>`
        $('#citems').append(mystr);
    }
    })
    event.preventDefault();
    })
</script>


{% endblock %}